"nodeurl"={{{nodeurl}}}
"nodeport"=8080
"clienturl"={{{clienturl}}}
"clientport"=8888
"workdir"="/orion/data"
"publickeys"=["nodeKey.pub"]
"privatekeys"=["nodeKey.key"]
"tls"="off"
"nodenetworkinterface"="0.0.0.0"
"clientnetworkinterface"="0.0.0.0"