"nodeurl"={{{nodeurl}}}
"nodeport"={{{nodeport}}}
"clienturl"={{{clienturl}}}
"clientport"={{{clientport}}}
"workdir"="/orion/data"
"publickeys"=["nodeKey.pub"]
"privatekeys"=["nodeKey.key"]
"tls"={{{tls}}}
"nodenetworkinterface"={{{nodenetworkinterface}}}
"clientnetworkinterface"={{{clientnetworkinterface}}}