# Whether to enable Syscoin block submitter agent.
syscoin.superblock.submitter.enabled = true

# Whether to enable Syscoin block challenger agent.
syscoin.superblock.challenger.enabled = true

# local (when using syscoin regtest and eth ganache) or integration (when using syscoin mainnet and eth rinkeby)
constants = local
# constants = integration
# constants = ethganachesyscoinmain

# Minimum gas price used for all the txs
# Gas price is estimated by the ethereum node. If ethereum node estimate is bellow
# gas.price.min value, gas.price.min value will be used instead.
gas.price.min = 1

# Gas limit used for all the txs
gas.limit = 4000000

# Address used for sending/defending superblocks and contract calls that don't consume gas.
# In local mode, no need to specify this, it is taken from web3.eth.accounts[0]
# Example:
general.purpose.and.send.superblocks.address = 0x829bd824b016326a401d083b33d092293333a830

# Address used for challenging invalid superblocks.
# In local mode, no need to specify this, it is taken from web3.eth.accounts[1]
# Example:
syscoin.superblock.challenger.address = 0x829bd824b016326a401d083b33d092293333a830

# Address where SyscoinToken is deployed.
# In local mode, no need to specify this, truffle.build.contracts.directory is used
# to find the truffle json files where the contract address is specified.
# Example:
syscoinToken.contract.address = 0x829bd824b016326a401d083b33d092293333a830

# Address where SyscoinClaimManager is deployed.
# In local mode, no need to specify this, truffle.build.contracts.directory is used
# to find the truffle json files where the contract address is specified.
# Example:
syscoinClaimManager.contract.address = 0x829bd824b016326a401d083b33d092293333a830

# Address where SyscoinSuperblocks is deployed.
# In local mode, no need to specify this, truffle.build.contracts.directory is used
# to find the truffle json files where the contract address is specified.
# Example:
syscoinSuperblocks.contract.address = 0x829bd824b016326a401d083b33d092293333a830

# Directory where truffle places contract jsons. Just used on local mode
# Example:
truffle.build.contracts.directory = {{contractsDirectory}}

# Directory where sysethereum agents store syscoin blockchain.
# Example:
data.directory = {{dataDirectory}}


# Whether to automatically withdraw funds after a battle is finished
withdraw.funds.enabled = true

# Upper bound for deposited funds; some will be withdrawn if they surpass this limit
deposited.funds.limit = 100