{
    "name": "whiteblock",
    "engine": {
        "authorityRound": {
            "params": {
              "stepDuration": {{{stepDuration}}},
              "validators": {
                  "list": {{{validators}}}
              }
            }
        }
    },
    "genesis": {
        "seal": {
            "authorityRound": {
                "step": "0x0",
                "signature": "0x0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
            }
        },
        "author": "0x0000000000000000000000000000000000000000",
        "timestamp": "0x00",
        "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "extraData": "0x3535353535353535353535353535353535353535353535353535353535353535",
        "difficulty": {{{difficulty}}},
        "gasLimit": {{{gasLimit}}}
    },
    "params": {
        "forkBlock":6,
        "networkID" : {{{networkId}}},
        "maximumExtraDataSize": {{{maximumExtraDataSize}}},
        "minGasLimit": {{{minGasLimit}}},
        "gasLimitBoundDivisor": {{{gasLimitBoundDivisor}}},
        "eip155Transition": {{{eip155Transition}}},
        "eip140Transition": {{{eip140Transition}}},
        "eip211Transition": {{{eip211Transition}}},
        "eip214Transition": {{{eip214Transition}}},
        "eip658Transition": {{{eip658Transition}}}
    },
    "accounts": {{{accounts}}}
}
