# port=10000
# stratum_port=0
# stratum_secrets_path=.
# wallet_seed=some_secret_string
# wallet_phrase=
# log_level=verbose
# file_log_level=verbose
# storage=node.db
# history_dir=
# temp_dir=
treasury_path=treasury.bin
# mining_threads=1
# miner_type=cpu
# verification_threads=-1
# import=0
# resync=0
# crash=0
key_owner={{{keyOwner}}}
key_mine={{{keyMine}}}
pass=password
# Emission.Value0=800000000
# Emission.Drop0=525600
# Emission.Drop1=2102400
Maturity.Coinbase=1
# Maturity.Std=0
# MaxBodySize=0x100000
DA.Target_s=1
# DA.MaxAhead_s=900
# DA.WindowWork=120
# DA.WindowMedian0=25
# DA.WindowMedian1=7
DA.Difficulty0=100
# AllowPublicUtxos=0
# FakePoW=0
