{
    "name": {{{name}}},
    "dataDir": {{{dataDir}}},
    "engine": {
        "Ethash": {
            "params": {
              "minimumDifficulty": {{{minimumDifficulty}}},
              "difficultyBoundDivisor": {{{difficultyBoundDivisor}}},
              "durationLimit": {{{durationLimit}}},
              "blockReward": {{{blockReward}}},
              "homesteadTransition": 0
            }
        }
    },
    "genesis": {
        "seal": {
            "ethereum": {
                "nonce": "0x0000000000000539",
                "mixHash": "0x00000000000000000000000000000000000000647572616c65787365646c6578"
            }
        },
        "author": "0x0000000000000000000000000000000000000000",
        "timestamp": "0x00",
        "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "extraData": "0x3535353535353535353535353535353535353535353535353535353535353535",
        "difficulty": {{{difficulty}}},
        "gasLimit": {{{gasLimit}}}
    },
    "params": {
            "networkID": {{{networkId}}},
            "chainID":{{{chainId}}},
            "maximumExtraDataSize": {{{maximumExtraDataSize}}},
            "minGasLimit": {{{minGasLimit}}},
            "gasLimitBoundDivisor": {{{gasLimitBoundDivisor}}},
            "accountStartNonce": "0x0",
            "eip140Transition":100,
            "eip150Transition":"0x0",
            "eip155Transition":"0x0",
            "eip160Transition":"0x0",
            "eip161abcTransition":100,
            "eip161dTransition":100,
            "eip211Transition":100,
            "eip214Transition":100,
            "eip658Transition":100,
            "maxCodeSize":"0x6000",
            "maxCodeSizeTransition":100
    },
    "accounts": {{{accounts}}}
}
