{
    "name":{{{name}}},
    "dataDir":{{{dataDir}}},
    "engine":{
        "Ethash":{
            "params":{
              "minimumDifficulty":{{{minimumDifficulty}}},
              "difficultyBoundDivisor":{{{difficultyBoundDivisor}}},
              "durationLimit":{{{durationLimit}}},
              "blockReward":{{{blockReward}}},
              "homesteadTransition":"0x0",
              "ecip1010PauseTransition":"0x0",
              "ecip1010ContinueTransition":2000000,
              "ecip1017EraRounds":2000000,
              "bombDefuseTransition":"0x0",
              "eip100bTransition":100
            }
        }
    },
    "genesis":{
        "seal":{
            "ethereum":{
                "nonce":{{{nonce}}},
                "mixHash":{{{mixhash}}},
            }
        },
        "author":"0x0000000000000000000000000000000000000000",
        "timestamp":"{{{timestamp}}}",
        "parentHash":"0x0000000000000000000000000000000000000000000000000000000000000000",
        "extraData":{{{extraData}}},
        "difficulty":{{{difficulty}}},
        "gasLimit":{{{gasLimit}}}
    },
    "params":{
            "networkID":{{{networkId}}},
            "chainID":{{{chainId}}},
            "maximumExtraDataSize":{{{maximumExtraDataSize}}},
            "minGasLimit":{{{minGasLimit}}},
            "gasLimitBoundDivisor":{{{gasLimitBoundDivisor}}},
            "accountStartNonce":"0x00",
            "eip140Transition":{{{eip140Transition}}},
            "eip150Transition":{{{eip150Transition}}},
            "eip155Transition":{{{eip155Transition}}},
            "eip160Transition":{{{eip160Transition}}},
            "eip161abcTransition":{{{eip161abcTransition}}},
            "eip161dTransition":{{{eip161dTransition}}},
            "eip211Transition":{{{eip211Transition}}},
            "eip214Transition":{{{eip214Transition}}},
            "eip658Transition":{{{eip658Transition}}},
            "maxCodeSize":"0x6000",
            "maxCodeSizeTransition":100
    },
    "accounts": {{{accounts}}}
}
