{
    "name": "whiteblock",
    "engine": {
        "Ethash": {
            "params": {
              "minimumDifficulty": {{{minimumDifficulty}}},
              "difficultyBoundDivisor": {{{difficultyBoundDivisor}}},
              "durationLimit": {{{difficultyBoundDivisor}}},
              "blockReward": {{{blockReward}}}
            }
        }
    },
    "genesis": {
        "seal": {
            "ethereum": {
                "nonce": "0x0000000000000042",
                "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000"
            }
        },
        "difficulty": {{{difficulty}}},
        "gasLimit": {{{gasLimit}}}
    },
    "params": {
            "networkID" : {{{networkId}}},
            "maximumExtraDataSize": {{{maximumExtraDataSize}}},
            "minGasLimit": {{{minGasLimit}}},
            "gasLimitBoundDivisor": {{{gasLimitBoundDivisor}}}
    },
    "accounts": {{{accounts}}}
}